// COLORS //

$black-color: #000000;
$white-color: #ffffff;

$dark-bg-color: #111723;
$dark-text-color: #666;
$dark-hover-color: #4a81bb;
$grey: #00000033;
$grey-2: #00000080;
$grey-3: #0d1321cc;

// FONTS //
$dashboard-font: "Nunito", sans-serif;
