// COLORS //

:root {
  --bg-color: #f9f9f9;
  --text-color: #222222cf;
  --primary-color: #7b61ff;
  --card-bg: #ffffff;
  --button-bg: #7b61ff;
  --button-text: #ffffff;
}

.dark-theme {
  --bg-color: #1e1e1e;
  --text-color: #e0e0e0;
  --primary-color: #9d7dff;
  --card-bg: #2c2c2c;
  --button-bg: #9d7dff;
  --button-text: #1e1e1e;
}

$black-color: #000000;
$white-color: #ffffff;

$dark-bg-color: #111723;
$dark-text-color: #666;
$light-blue: rgb(74, 129, 187);
$pink-color: rgb(231, 15, 170);
$grey: #00000033;
$grey-2: #00000080;
$grey-3: #0d1321cc;

// FONTS //
$dashboard-font: "Nunito", sans-serif;
