// COLORS //

$black-color: #000000;
$white-color: #ffffff;

$auth-bg: #0d1321;
$auth-text-color: #ffeddf;
$auth-hover-color: #c5d86d;

$light-white: #f5f5f5;
$light-grey: #333333;
$grey: #00000033;
$grey-2: #00000080;
$grey-3: #0d1321cc;

// FONTS //

$dashboard-font: "Nunito", sans-serif;
