<nav>
  <h3 class="gradient-text">maha fathy</h3>
  <ul>
    <li>
      <a href="#about" [class.active]="activeSection === 'about'">About</a>
    </li>
    <li>
      <a href="#services" [class.active]="activeSection === 'services'"
        >Services</a
      >
    </li>
    <li>
      <a href="#tech" [class.active]="activeSection === 'tech'">Tech Stack</a>
    </li>
    <li>
      <a href="#projects" [class.active]="activeSection === 'projects'"
        >Projects</a
      >
    </li>
    <li>
      <a href="#contact" [class.active]="activeSection === 'contact'"
        >Contact</a
      >
    </li>
  </ul>
</nav>
