@import "../../../assets/sass/main.scss";
nav {
  position: sticky;
  top: 0;
  z-index: 500;
  background-color: $white-color;
  // a {
  //   font-weight: bold;
  //   text-decoration: none;
  //   transition: color 0.3s ease-in-out;

  //   &.active {
  //     color: $pink-color;
  //     border-bottom: 2px solid $pink-color;
  //   }

  //   &:hover {
  //     color: $light-blue;
  //   }
  // }
}
