<div class="container">
  <div class="about-container row align-items-center mt-5">
    <div class="col-12 col-md-6 left-side">
      <h1 class="gradient-text">frontend developer</h1>
      <p class="typing">｛<span #typingText> </span>｝ 👩🏽‍💻🌍</p>
      <p>
        Web developer with a passion for creating beautiful and responsive
        websites.
      </p>
      <a href="assets/files/Maha-Resume.pdf" download class="p-2 resume-btn">
        My Resume
      </a>
      <div class="social-media mt-3">
        <a target="_blank" href="https://github.com/mahamfathy"
          ><i class="fa-brands fa-github"></i
        ></a>
        <a target="_blank" href="https://www.linkedin.com/in/mahamfathy/"
          ><i class="fa-brands fa-linkedin"></i
        ></a>
        <a
          target="_blank"
          href="https://wa.me/201009848702?text=Hello!%20I'm%20interested%20in%20your%20services.%20Can%20we%20discuss%20further?"
          target="_blank"
        >
          <i class="fa-brands fa-whatsapp"></i>
        </a>
      </div>
    </div>
    <div class="col-12 col-md-6 right-side">
      <img
        class="w-100 h-100"
        src="assets/images/png/profile-img.png"
        alt="profile-img"
      />
    </div>
  </div>
</div>
