@import "../../../../assets/sass/main.scss";
.about-container {
  @include respond(tab-port) {
    flex-direction: column-reverse;
  }
  .left-side {
    @include respond(tab-port) {
      width: 80%;
    }
    p {
      font-size: x-large;
      @include respond(tab-land) {
        font-size: larger;
      }
      @include respond(tab-port) {
        font-size: large;
      }
    }
  }
}
h1 {
  font-size: 4.5rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  @include respond(tab-land) {
    font-size: 2.8rem;
  }

  @include respond(tab-port) {
    font-size: 2rem;
  }

  @include respond(phone) {
    font-size: 1.5rem;
  }
}
img {
  margin-top: -2rem;
}
.text {
  font-size: 1.5rem;
  @include respond(tab-land) {
    font-size: 1.3rem;
  }
  @include respond(tab-port) {
    font-size: 1rem;
  }

  span {
    text-transform: capitalize;
    color: $pink-color;
    font-weight: 500;
    font-style: italic;
    font-size: large;
  }
}
.right-side {
  background-image: url("../../../../assets/images/Jpg/bg-text.jpg");
  background-size: cover;
  border-radius: 40%;

  @include respond(tab-port) {
    width: 75%;
    margin-bottom: 2rem;
  }
  @include respond(phone) {
    width: 70%;
  }
}

.social-media {
  display: flex;
  gap: 15px;
  a {
    color: $dark-text-color;
    font-size: 20px;
    transition: color 0.3s ease-in-out;
    color: $light-blue;
    &:hover,
    &.active {
      color: $pink-color;
    }
  }
}
.typing {
  font-size: xx-large;
  color: $pink-color;
  font-weight: 600;
  font-family: monospace;
}
