@import "../../../../assets/sass/main.scss";
.about-container {
  @include respond(phone) {
    flex-direction: column-reverse;
  }
}
h1 {
  font-size: 4.5rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  @include respond(tab-land) {
    font-size: 3.2rem;
  }

  @include respond(tab-port) {
    font-size: 2rem;
  }

  @include respond(phone) {
    font-size: 1.5rem;
  }
}
img {
  margin-top: -2rem;
}
.text {
  font-size: 1.5rem;
  @include respond(tab-land) {
    font-size: 1.3rem;
  }
  @include respond(tab-port) {
    font-size: 1rem;
  }

  span {
    text-transform: capitalize;
    color: $light-blue;
  }
}
.right-side {
  background-image: url("../../../../assets/images/Jpg/bg-text.jpg");
  background-size: cover;
  border-radius: 40%;
  @include respond(phone) {
    margin-bottom: 2rem;
  }
}

.social-media {
  display: flex;
  gap: 15px;
  a {
    color: $dark-text-color;
    font-size: 20px;
    transition: color 0.3s ease-in-out;
    color: $light-blue;
    &:hover,
    &.active {
      color: $pink-color;
    }
  }
}
