.auth-container {
  height: 100%;
  background-color: $auth-bg;
  color: $auth-text-color;
  .form-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    &__title {
      color: $auth-hover-color;
      margin-bottom: 0.5rem;
      font-size: 1.8rem;
    }
    .icons-container {
      text-align: center;
      padding: 0 1.2rem;
      margin-bottom: 0.2rem;
      .auth-icon {
        border: 2px solid $light-grey;
        color: $auth-text-color;
        background-color: $light-grey;
        cursor: pointer;
        padding: 2rem;
        border-radius: 0.8rem;
        box-sizing: border-box;
        height: 7rem;
        position: relative;
        &:hover i,
        &.active i {
          color: $auth-hover-color;
        }
        &:hover,
        &.active {
          border: 2px solid $auth-hover-color;
        }
      }
    }
    &__link {
      margin: 0;
      a {
        color: $auth-hover-color;
        text-decoration: underline;
      }
    }
    form {
      height: 90%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  }
  .image-container {
    width: 100%;
    img {
      width: 100%;
      height: 37rem;
    }
  }
}
