@import "../../../../assets/sass/main.scss";

.services-container {
  text-align: center;
  padding: 3.2rem;
  .service-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.6rem;
    flex-wrap: wrap;
    margin-top: 1rem;
    position: relative;
    z-index: 100;
    .service-card {
      background: rgba(255, 255, 255, 0.05);
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 1rem;
      padding: 2rem;
      text-align: left;
      box-shadow: 0 0 15px rgba(255, 105, 180, 0.3);
      transition: 0.3s ease-in-out;
      position: relative;
      z-index: 1;
      &:nth-child(even) {
        align-self: flex-end;
      }
      &:hover {
        box-shadow: 0 0 25px rgba(98, 182, 255, 0.8);
      }
      i {
        font-size: 1.9rem;
        color: #62b6ff;
        margin: 0;
        @include respond(phone) {
          font-size: 1.5rem;
        }
      }
      h3 {
        font-size: 1.5rem;
        @include respond(phone) {
          font-size: 1.3rem;
        }
      }

      p {
        font-size: 1rem;
        margin: 0;
        color: var(--text-color);
        @include respond(phone) {
          font-size: 0.9rem;
        }
      }
    }
  }
}
