<nav>
  <h3 class="ingredient-text">maha fathy</h3>
  <ul>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/services">Services</a></li>
    <li><a routerLink="/tech">Tech Stack</a></li>
    <li><a routerLink="/projects">Projects</a></li>
    <li><a routerLink="/contact">Contact</a></li>
    <div class="social-media">
      <a href="https://github.com/mahamfathy"
        ><i class="fa-brands fa-github"></i
      ></a>
      <a href="https://www.linkedin.com/in/mahamfathy/"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
      <a
        href="https://wa.me/201009848702?text=Hello!%20I'm%20interested%20in%20your%20services.%20Can%20we%20discuss%20further?"
        target="_blank"
      >
        <i class="fa-brands fa-whatsapp"></i>
      </a>
    </div>
  </ul>
</nav>
