.resume-btn {
  position: relative;
  background: transparent;
  padding: 8px 15px;
  font-size: 16px;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  color: var(--text-color);
  transition: 0.3s;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px;
    border-radius: 5px;
    background: linear-gradient(to right, #62b6ff 30%, #ff69b4 70%);
    -webkit-mask: linear-gradient(white 0 0) content-box,
      linear-gradient(white 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }
  &:hover,
  &:active {
    background: linear-gradient(to right, #62b6ff 30%, #ff69b4 70%);
    color: var(--bg-color);
  }
}
