.card-container {
  border: 1px solid $grey !important;
  border-radius: 0.5rem;
  padding: 1rem;
  font-family: $dashboard-font;
  .text-side {
    .card-title {
      font-weight: 600;
      font-size: 1.1rem;
    }
  }
  .ranks {
    font-weight: 500;
    font-size: 0.9rem;
    color: $grey-3;
    .group-name {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 1%;
        left: 0;
        width: 1px;
        height: 1.5rem;
        background-color: $grey-2;
        z-index: 1;
      }
    }
  }
}
