.custom-table {
  border-spacing: 4px;
  border-collapse: separate;
  vertical-align: middle;
  td,
  th {
    padding: 0.5rem;
    border: 1px solid $grey;
    border-radius: 5px;
    vertical-align: middle;
    text-align: center;
  }
  th {
    background-color: $black-color !important;
    color: $light-white !important;
    vertical-align: middle;
    cursor: pointer;
  }
}
